node_modules/

/packages/ui/.next
build/
dist/

static/
*.log

cdk.out/

*.tsbuildinfo
/packages/analytica.click/src/**/*.js
*.orig
/packages/ui/public/feedback.js

.build/

/packages/api/log.txt

*.env
**/*.env

log.txt
*.txt

/nul
